.footer {
    background: #353533;
    color: white;

    @include tablet {
      display: flex;
        flex-direction: row-reverse;
    }
  
    @include desktop {
      display: flex;
        flex-direction: row-reverse;
    }
  
    &_titre {
      font-family: "Shrikhand";
      font-style: italic;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      padding-top: 22px;
      padding-left: 25px;
      margin-top: 0;
      color: white;

      @include tablet {
        padding:0;
            margin: 56px 26px 30px 16px;
      }
      @include desktop {
        padding:0;
            margin: 56px 26px 30px 16px;
      }
    }
  
    &_list {
      list-style: none;
      font-size: 16px;
      font-weight: 400;
      padding-bottom: 22px;
      margin-bottom:0;
      margin-left: 23px;
  
      i {
        padding-right: 11px;
      }
  
      a {
        text-decoration: none;
        color: white;
      }
      li{
        padding-bottom: 7px;
        
      }

      @include tablet {
        margin-top: 58px;
            display: flex;
            gap: 10px;
      }
      @include desktop {
        margin-top: 58px;
            display: flex;
            gap: 10px;
      }
    }
  }
  