  /*****MIXINS CARDS DE L'INDEX *****/
  
  @mixin cards {
 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    background: #ffffff;
    border-radius: 15px;
    margin-bottom: 18px;
    margin-left: 14px;
    margin-right: 14px;
    width: auto;
    
  }
  
  @mixin new {
    color: #008766;
    background-color: $color-tertiary;
    padding: 7px;
    margin: 0;
    border-radius: 2px;
    font-size:14px;
  }
  
  @mixin cards_img {
    height: 231px;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
  }
  
  @mixin lienSimple {
    text-decoration: none;
    color: black;
  }