@media screen and (min-width: 768px){

    .cards_restaurants {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 50px;
        column-gap: 100px;
        width: 97%;
    }

    .restaurant{
        padding-top:30px;
        margin-top:50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 28px;
    
        &_titre{

            padding-top:0;
            width: 100%;
            margin-bottom:-32px;
        }
    
        &_card{
            
            width: 100%;
            position: relative;
        }   
    }

    .menu {
        margin-left: 10%;
        margin-right: 10%;
        padding-left:5%;
        padding-right:5%;
      
  }
  .commander{
      margin-left: 10%;
      margin-right: 10%;
  }

  .restaurant_grostitre{
    margin-left:10%;
    margin-right:10%;
    display: flex;
    justify-content: center;
 & i {
    position: relative;
    left:20px;

    &.fa-solid{
        left:-13px;
    }
 }
}
    }

@media screen and (min-width: 1024px){

.fonctionnement{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;

h2{
    width: 100%;  
}

& ol {
    display: flex;
    flex-direction: row;
   width: 100%;
   gap:10px;
}
& li {
    width: 100%;
    margin: 0 20px 0 20px;
    cursor: pointer;
}

}

.cards_restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    column-gap: 100px;
    width: 97%;
}
.restaurant{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-top:30px;
    margin-top:50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &_titre{
        width: 100%;
        margin-bottom:-32px;
    }

    &_card{
        
        width: 100%;
        position: relative;
    }   

}
.footer{
    display: flex;
    flex-direction: row-reverse;

    &_list{
        margin-top: 58px;
        display: flex;
        gap: 10px;
    }
    &_titre{
        padding:0;
        margin: 56px 26px 30px 74px;
    }
}

.restaurant_grostitre{
    margin-left:15%;
    margin-right:15%;
    display: flex;
    justify-content: center;
 & i {
    position: relative;
    left:20px;

    &.fa-solid{
        left:-13px;
    }
 }
}

.menu {
      margin-left: 15%;
      margin-right: 15%;
      padding-left:10%;
      padding-right:10%;
    
}
.commander{
    margin-left: 15%;
    margin-right: 15%;
}
}

